<web-app>
<servlet>
<servlet-name>Log1</servlet-name>
<servlet-class>Log1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Log1</servlet-name>
<url-pattern>/Log1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Reg1</servlet-name>
<servlet-class>Reg1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Reg1</servlet-name>
<url-pattern>/Reg1</url-pattern>
</servlet-mapping>
</web-app>