<web-app>
<servlet>
<servlet-name>Reg1</servlet-name>
<servlet-class>Reg1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Reg1</servlet-name>
<url-pattern>/Reg1</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Log1</servlet-name>
<servlet-class>Log1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Log1</servlet-name>
<url-pattern>/Log1</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Cp</servlet-name>
<servlet-class>Cp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Cp</servlet-name>
<url-pattern>/Cp</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Scontext1</servlet-name>
<servlet-class>Scontext1</servlet-class>
</servlet>
<context-param>
<param-name>t1</param-name>
<param-value>govinda savalkar</param-value>
</context-param>
<servlet-mapping>
<servlet-name>Scontext1</servlet-name>
<url-pattern>/Scontext1</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Scontext2</servlet-name>
<servlet-class>Scontext2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Scontext2</servlet-name>
<url-pattern>/Scontext2</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Ck1</servlet-name>
<servlet-class>Ck1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Ck1</servlet-name>
<url-pattern>/Ck1</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Ck2</servlet-name>
<servlet-class>Ck2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Ck2</servlet-name>
<url-pattern>/Ck2</url-pattern>
</servlet-mapping>
</web-app>